<!-- Modal -->
<div class="modal-window">
  <div class="form-wraper">
    <button class="close-modal" type="button">
      <svg class="close-modal-fill" width="8" height="8">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <p class="modal-title">Leave your contacts and we will call you back</p>
    <form class="modal-form">
      <div class="input-wrapper-block">
        <label class="modal-form-lable" for="user-name">Name</label>

        <div class="modal-input-wrapper">
          <input
            class="modal-form-input"
            type="text"
            name="user-name"
            id="user-name"
            required
          />
          <svg class="modal-input-icon" width="18" height="24">
            <use href="/img/icons.svg#icon-person"></use>
          </svg>
        </div>
      </div>
      <div class="input-wrapper-block">
        <label class="modal-form-lable" for="label-phohe">Phone</label>

        <div class="modal-input-wrapper">
          <input
            class="modal-form-input"
            type="tel"
            name="user-phone"
            id="label-phohe"
            required
          />
          <svg class="modal-input-icon" width="18" height="24">
            <use href="/img/icons.svg#icon-phone"></use>
          </svg>
        </div>
      </div>
      <div class="input-wrapper-block">
        <label class="modal-form-lable" for="label-email">Email</label>
        <div class="modal-input-wrapper">
          <input
            class="modal-form-input"
            type="email"
            name="user-email"
            id="label-email"
            required
          />
          <svg class="modal-input-icon" width="18" height="24">
            <use href="/img/icons.svg#icon-email"></use>
          </svg>
        </div>
      </div>

      <div class="textarea-wrapper-block">
        <label class="modal-form-lable" for="user-comment">Comment</label>
        <textarea
          class="modal-form-textarea"
          name="user-comment"
          id="user-comment"
          placeholder="Text input"
        ></textarea>
      </div>

      <div class="modal-checkbox-wrapper">
        <input
          id="user-privacy"
          class="visually-hidden"
          type="checkbox"
          value="true"
          name="user-privacy"
        />

        <label class="label-user-privacy" for="user-privacy">
          <span class="costum-checkbox">
            <svg class="costum-checkbox-icon" width="10" height="8">
              <use href="/img/icons.svg#icon-check"></use>
            </svg>
          </span>
          <div class="checkbox-text">
            I accept the terms and conditions of the
            <a
              class="modal-checkbox-link"
              href="#"
              target="_blank"
              rel="noopener noreferrer"
              >Privacy Policy
            </a>
          </div>
        </label>
      </div>
      <button class="servis-btn modal-btn" type="submit">Send</button>
    </form>
  </div>
</div>
<!-- /Modal -->
