<!-- Portfolio -->
<section class="portfolio-section">
  <div class="container">
    <h2 class="head-sect">Our Portfolio</h2>
    <ul class="portfolio-list">
      <li class="portfolio-card">
        <div class="portfolio-img-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /img/portfolio/banking-app@2x.jpg 2x,
                /img/portfolio/banking-app.jpg    1x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/portfolio/banking-app-tablet@2x.jpg 2x,
                /img/portfolio/banking-app-tablet.jpg    1x
              "
            />
            <img
              class="portfolio-img"
              srcset="
                /img/portfolio/banking-app-mobile.jpg    1x,
                /img/portfolio/banking-app-mobile@2x.jpg 2x
              "
              src="/img/portfolio/banking-app-mobile.jpg"
              alt="Banking app example"
              width="360"
              height="300"
            />
          </picture>
          <p class="portfolio-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-title">Banking App</h3>
          <p class="portfolio-desc">App</p>
        </div>
      </li>
      <li class="portfolio-card">
        <div class="portfolio-img-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /img/portfolio/cashless-payment@2x.jpg 2x,
                /img/portfolio/cashless-payment.jpg    1x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/portfolio/cashless-payment-tablet@2x.jpg 2x,
                /img/portfolio/cashless-payment-tablet.jpg    1x
              "
            />
            <img
              class="portfolio-img"
              srcset="
                /img/portfolio/cashless-payment-mobile.jpg    1x,
                /img/portfolio/cashless-payment-mobile@2x.jpg 2x
              "
              src="/img/portfolio/cashless-payment-mobile.jpg"
              alt="Banking app example"
              width="360"
              height="300"
            />
          </picture>
          <p class="portfolio-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-title">Cashless Payment</h3>
          <p class="portfolio-desc">Marketing</p>
        </div>
      </li>
      <li class="portfolio-card">
        <div class="portfolio-img-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /img/portfolio/meditation-app@2x.jpg 2x,
                /img/portfolio/meditation-app.jpg    1x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/portfolio/meditation-app-tablet@2x.jpg 2x,
                /img/portfolio/meditation-app-tablet.jpg    1x
              "
            />
            <img
              class="portfolio-img"
              srcset="
                /img/portfolio/meditation-app-mobile.jpg    1x,
                /img/portfolio/meditation-app-mobile@2x.jpg 2x
              "
              src="/img/portfolio/meditation-app-mobile.jpg"
              alt="Banking app example"
              width="360"
              height="300"
            />
          </picture>
          <p class="portfolio-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-title">Meditation App</h3>
          <p class="portfolio-desc">App</p>
        </div>
      </li>
      <li class="portfolio-card">
        <div class="portfolio-img-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /img/portfolio/taxi-service@2x.jpg 2x,
                /img/portfolio/taxi-service.jpg    1x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/portfolio/taxi-service-tablet@2x.jpg 2x,
                /img/portfolio/taxi-service-tablet.jpg    1x
              "
            />
            <img
              class="portfolio-img"
              srcset="
                /img/portfolio/taxi-service-mobile.jpg    1x,
                /img/portfolio/taxi-service-mobile@2x.jpg 2x
              "
              src="/img/portfolio/taxi-service-mobile.jpg"
              alt="Banking app example"
              width="360"
              height="300"
            />
          </picture>
          <p class="portfolio-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-title">Taxi Service</h3>
          <p class="portfolio-desc">Marketing</p>
        </div>
      </li>
      <li class="portfolio-card">
        <div class="portfolio-img-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /img/portfolio/screen-illustrations@2x.jpg 2x,
                /img/portfolio/screen-illustrations.jpg    1x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/portfolio/screen-illustrations-tablet@2x.jpg 2x,
                /img/portfolio/screen-illustrations-tablet.jpg    1x
              "
            />
            <img
              class="portfolio-img"
              srcset="
                /img/portfolio/screen-illustrations-mobile.jpg    1x,
                /img/portfolio/screen-illustrations-mobile@2x.jpg 2x
              "
              src="/img/portfolio/screen-illustrations-mobile.jpg"
              alt="Banking app example"
              width="360"
              height="300"
            />
          </picture>
          <p class="portfolio-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-title">Screen Illustrations</h3>
          <p class="portfolio-desc">Design</p>
        </div>
      </li>
      <li class="portfolio-card">
        <div class="portfolio-img-wrapper">
          <picture>
            <source
              media="(min-width: 1158px)"
              srcset="
                /img/portfolio/online-courses@2x.jpg 2x,
                /img/portfolio/online-courses.jpg    1x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                /img/portfolio/online-courses-tablet@2x.jpg 2x,
                /img/portfolio/online-courses-tablet.jpg    1x
              "
            />
            <img
              class="portfolio-img"
              srcset="
                /img/portfolio/online-courses-mobile.jpg    1x,
                /img/portfolio/online-courses-mobile@2x.jpg 2x
              "
              src="/img/portfolio/online-courses-mobile.jpg"
              alt="Banking app example"
              width="360"
              height="300"
            />
          </picture>
          <p class="portfolio-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="portfolio-info">
          <h3 class="portfolio-title">Online Courses</h3>
          <p class="portfolio-desc">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- /Portfolio -->
